extends layout

include utils.pug

block content
  div#new-question.postQuestion
    span.userisasking Edit Comment
    form(action=`/comments/${comment.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        br
        textarea.question-content(name='content' value=comment.content required)=comment.content
      div.forminput
        div
        button.add-question(type="submit") Submit
