extends layout

include utils.pug

block content
  br
  div#new-question
    span.userisasking Edit comment
    form(action=`/comments/${comment.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for='content')
      textarea.answer-content(name='content' value=comment.content)=comment.content
      br
      button.addanswerbutton(type="submit") Submit
