extends layout

include utils.pug

block content
  div#new-question
    h1 Edit a Answer
    form(action=`/answers/${answer.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for='content') Answer
      textarea(name='content' value=answer.content)=answer.content
      br
      button(type="submit") Submit
