extends layout

include utils.pug

block content
  div#new-question.postQuestion
    span.userisasking Edit Answer
    form(action=`/answers/${answer.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        br
        textarea.question-content(name='content' value=answer.content)=answer.content
      div.forminput
        button.add-question(type="submit") Submit
