doctype html
html
  head
      block head
        title="ASKMOM&DAD"
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
        meta(name="title" property="og:title" content="ASKMOM&DAD | A Quora Clone")
        meta(property="og:type" content="Website")
        meta(name="image" property="og:image" content="https://media.discordapp.net/attachments/929826139906637925/942987167876141126/unknown.png?width=1027&height=505")
        meta(name="description" property="og:description" content="ASKMOM&DAD is a team-developed full-stack application built with JavaScript, PugJS, Express, Sequelize, Postgres, HTML / CSS.")
        meta(name="author" content="Kelsey Sry, Devin Juley, Brittany Moliver, Alex Poberezhskiy")
  body
    .container
      .background-image
        block content
          include utils.pug
          div#slogan
            span Sometimes you just gotta
            span#hash #askMom&Dad
          div#centerSplash
          div#splash
            h1 Login
            +validationErrorSummary(errors)
            div#signUpForm
              form(action='/users/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('', 'username', user.username, placeholder = "Username")
                br
                +field('', 'password', '', 'password', placeholder = "Password")
                div#registerLoginButton
                  button(type='submit') Login
              div#demoButton
                form(action='/users/loginDemo' method='post')
                  button(type='submit') Demo
              div#splashbutton
                p#accountAlready: a(href='/users/signup') Don't have an account?
