doctype html
html
  head
      block head
        title="ASKMOM&DAD"
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
  body
    .container
      .background-image
        block content
          include utils.pug
          div#slogan
            span Sometimes you just gotta
            span#hash #askMom&Dad
          div#centerSplash
          div#splash
            h1 Login
            +validationErrorSummary(errors)
            div#signUpForm
              form(action='/users/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                +field('', 'username', user.username, placeholder = "Username")
                br
                +field('', 'password', '', 'password', placeholder = "Password")
                div#registerLoginButton
                  button(type='submit') Login
                div#splashbutton
                  form(action='/users/loginDemo' method='post')
                      button(type='submit') Demo
                div#splashbutton
                  p#accountAlready: a(href='/users/signup') Don't have an account?
