header
    nav
        ul
            li: a(href='/questions')
                //- img(src='https://i.imgur.com/22BqSWG.png')
                button#logo
            li: a(href='/questions/new') Add Question
            li: a(href='/users/logout') Logout
            li: div
                form(action='' method='post')
                    input(type="text" placeholder="Search..." name="search")
                    button(type="submit") Search
