div.nav
    a(href='/') Home
    a(href='/questions/new') Add Question
    a(href='/users/logout') Logout
    div
        form(action='' method='post')
            input(type="text" placeholder="Search..." name="search")
            button(type="submit") Search
