extends layout

include utils.pug

block content
 div
    div.post
      h1 Post a Question
      br
      form(action='/questions/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div.forminput
          label(for="category") Category
          select(name="category" required)
            each category in categories
              option(value= category.id)=category.category
          br
        div.forminput
          label(for='title')
          br
          textarea.title-content(name='title' value=title required, placeholder='Start your question with "What", "How", "Why", etc.')
          br
        div.forminput
          label(for='content')
          br
          textarea.answer-content(name='content' value=content, placeholder="More info here...")
          br
        div.forminput
          button(type="submit") Submit
