extends layout
include utils
block content
    each question in questions
      div#question-box
        h3= question.User.username
        a(href=`/questions/${question.id}`)= question.title
      div
        span= question.Category.category
        p= question.content
        if userId === question.User.id
          button(type="submit") Edit
          button(type="submit") Delete
