extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#sign-up
    h1 Sign Up
    +validationErrorSummary(errors)
    form(action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Username', 'username', user.username)
      +field('Email Address', 'email', user.email)
      +field('Password', 'password', user.password, 'password')
      +field('Confirm Password', 'confirmPassword', '', 'password')
      div
        button(type='submit') Register
      div
        p: a(href='/') Have an account already?
