body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
  height: auto;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
  background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

#question-box {
  display: inline;
  border: solid 1px grey;
  width: 100px;
  height: 100px;
}

nav {
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 5px;
}

#logo {
  height: auto;
  width: auto;
  /* background: no-repeat url("https://i.imgur.com/22BqSWG.png"); */
  color: rgb(185, 43, 39);
  font-size: x-large;
  font-weight: 600;
  /* background-size: 100%; */
  border: 0px;
  cursor: pointer;
  /* filter: invert(1); */
}

nav a {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  color: rgb(185, 43, 39);
  transition: all 0.3s ease 0s;
}

nav li:hover {
  color: rgb(128, 31, 28);
}

.searchbutton {
  padding: 5px 25px;
  background-color: rgb(185, 43, 39);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.searchbutton:hover {
  background-color: rgba(185, 44, 39, 0.568)
}

form {
  width: 100%;
  box-sizing: border-box;
  line-height: 10px;
  background-color: white;
}

input {
  box-sizing: border-box;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 5px 25px;
  border: none;
  border: 2px solid #d5d5d5;
  background-color: white;
}

#post{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 428px;
  height: fit-content;

  padding: 50px;
  margin: 50px;

  background: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
}
