@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  /* padding: 50px; */
  font-family: 'Roboto', sans-serf;
  background-size: cover;
  /* height: auto; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
  background-color: rgb(241,242,242);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
span,
div,
body,
header,
nav {
  /* font-size: 1rem; */
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
}

/* h1 {
  font-size: 2rem;
} */

/* #question-box {
  display: inline;
  border: solid 1px grey;
  width: 100px;
  height: 100px;
} */

nav {
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 5px;
  flex-wrap: wrap-reverse;
  white-space:nowrap
}

#logo {
  height: auto;
  width: auto;
  /* background: no-repeat url("https://i.imgur.com/22BqSWG.png"); */
  color: rgb(185, 43, 39);
  font-size: x-large;
  font-weight: 800;
  /* background-size: 100%; */
  border: 0px;
  cursor: pointer;
  /* filter: invert(1); */
}

select {
  margin-left: 5px;
}

nav a {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  /* font-weight: bold; */

}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  color: rgb(185, 43, 39);
  transition: all 0.3s ease 0s;
}

nav li:hover {
  color: rgb(128, 31, 28);
}
.logoutButton {
  background-color: white;
  color: rgb(185, 43, 39);
  border: 2px solid rgb(185, 43, 39);
  border-radius: 50px;
  font-size: 14px;
}

.logoutButton:hover {
  background-color: rgba(185, 43, 39, 0.5);
  color: white;
}
.searchbutton {
  padding: 5px 25px;
  background-color: rgb(185, 43, 39);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.searchbutton:hover {
  background-color: rgba(185, 44, 39, 0.568)
}

form {
  /* width: 100%; */
  box-sizing: border-box;
  line-height: 10px;
  background-color: transparent;
}

textarea {
  background-color: white;
  width: 300px;
  overflow-wrap: break-word;
}

input {
  box-sizing: border-box;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 5px 25px;
  border: none;
  border: 2px solid #d5d5d5;
  background-color: white;
}

/* select {
  background-color: white;
  box-sizing: border-box;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 5px 25px;
  border: none;
  border: 2px solid #d5d5d5;
  background-color: white;
  font-size: 12px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background: white;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  width: 50%;
  font-size: 1em;
  background:url('arrow.png') no-repeat;
  background-position:80% center;
} */

.forminput{
  padding-top: 10px;
  padding-bottom: 5px;
  color:grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forminput button {
  border: 1px;
  color: white;
  background-color: rgb(185, 43, 39);
  border-radius: 35px;
  width: 100px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  float:right;
}

.userisasking{
  color:grey;
  font-weight: lighter;
  font-size: 20px;
  line-height: 10px;
}

.forminput button:hover{
  background-color: rgba(185, 43, 39, 0.6);
}

select {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  width: 100px;
  color: grey;
  border: 1px solid #fff;
}

select option { color: transparent; }

label {
  background-color: white;
}

.post{
  display: inline-block;
  min-width: 50px;
  align-content: center;
  justify-content: center;
  width: 600px;
  /* height: fit-content; */

  padding: 10px;
  margin: 3px;
  font-weight: lighter;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  /* box-shadow: 1px 1px #888888; */
}

.post:hover {
  background-color: rgba(242,242,242, 0.6);
}

.title {
  text-decoration: none;
  /* border-bottom: 2px solid #d5d5d5; */
  display: flex;
  align-content: space-between;
  font-weight: bold;
  padding-top: 10px;
  /* line-height: 40px; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-style: italic; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.singlequestion-title{
  text-decoration: none;
  /* border-bottom: 2px solid #d5d5d5; */
  display: flex;
  align-content: space-between;
  font-weight: bold;
  padding-top: 10px;
}


.edit-delete {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

.addanswerbutton{
  border: 1px;
  color: white;
  background-color: rgb(185, 43, 39);
  border-radius: 35px;
  width: 100px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  float:right;
}

.cat {
  /* font-size: small;
  /* font-style: italic; */
  /* display: flex; */
  /* flex-direction: row-reverse;
  justify-content: flex-end; */
  /* justify-content: space-between;  */
  /* float: right; */
  display: inline-flex;
  float: right;
  /* padding-top: 6px; */
  /* vertical-align: middle; */
  font-weight: lighter;
  color: gray;
  margin-top: 2px;
  border-radius: 5px;
  padding: 3px;
  border: 1px rgb(189,189,189) solid;
}

.con {
  width: fit-content;
  /* background-color: #ffffff; */
  font-weight: lighter;
  background-color: transparent;

}

.delete-btn, .delete-ans-btn {
  border-radius: 4px;
  border: 0px;
  /* background-color: white; */
  color: #4C8BF5;
  cursor: pointer;
  background-color: transparent;
}

.edit-btn {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
  color: #4C8BF5;
  cursor: pointer;
}

.answer-content {
  width: 538px;
  display: inline-block;
  align-content: center;
  justify-content: center;
  min-width: 50px;
  /* height: fit-content; */

  padding: 10px;
  margin: 3px;
  font-weight: lighter;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  /* box-shadow: 1px 1px #888888; */
}

.answer-post {
  width: fit-content;
  display: inline-block;
  align-content: center;
  justify-content: center;
  /* height: fit-content; */

  padding: 10px;
  /* margin: 3px; */
  font-weight: lighter;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
}

.commentdeletebuttons{
  display: flex;
  justify-content: space-between;
}

.answer-container{
  width: 538px;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  margin: 3px;
}

#errors{
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.22);
  color: rgb(167, 9, 9);
  font-size: 14px;
  height: 100%;
  padding: 10px 15px;
  width: 600px;
  border: 1px solid rgba(255, 0, 0, 0.2);
  margin-bottom: 15px;
  line-height: 25px;
}

.answer-box {
  margin: 10px;
  padding: 30px;
  background-color: white;
  border: 1px solid grey;
}

.title-content {
  width: 538px;
  height: 50px;
}

.span-css {
  display: inline-flex;
  background-color: transparent;
  padding-left: 5px;
  /* padding-top: 4px; */
  vertical-align: middle;
  font-weight: lighter;
}

.title:hover {
  text-decoration: underline;
  color: black;
}

.user-icon {
  display: inline-flex;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  /* display: inline-block; */
  vertical-align: middle;
}

.comment-css {
  text-decoration: none;
  border-radius: 4px;
  border: 0px;
  /* background-color: white; */
  color: #4C8BF5;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  font-size: 13px;
  padding-top: 1px;
}

.commenticon{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.single-question-delete-button {
  border-radius: 4px;
  border: 0px;
  /* background-color: white; */
  color: #4C8BF5;
  cursor: pointer;
  background-color: transparent;
}

textarea{
  resize: none;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

::placeholder{
  font-size: 12px;
  /* padding: 5px; */
}

.postQuestion{
  border: 1px solid rgb(201, 201, 201);
  background-color: white;
  width: 600px;
  margin: 10px;
  padding: 30px;
  border-radius: 3px;
  height:390px;
}
